<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>CYixxCxnAR0N3uB4GUqkk1r4r</string>
	<key>API Ket</key>
	<string>FoZFYvkHIiLnCVhMBT10oO8byRAKgnsvTzTZeoPhRe9dnZRdk0</string>
</dict>
</plist>
